@import url("https://fonts.googleapis.com/css2?family=Fredoka:wght@300..700&family=Poppins:wght@300;400;500;600;700&display=swap");

@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
    *,
    *::before,
    *::after {
        box-sizing: border-box;
        margin: 0;
        padding: 0;
    }

    html,
    body {
        height: 100vh;
        width: 100vw;
        color: theme(colors.light.text.primary);
        font-family: theme(fontFamily.primary);
        overflow-x: hidden;
    }
}

@layer components {
    .wrapper {
        @apply px-16 lg:px-8
    }
}